<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="apiKey" value="1a4738e0-6def-4bb4-be6e-cfbeca1c6f75"/>
    <add key="apiSecret" value="0b2e1e0c20ea4d2ab649083456f797b0"/>
    <add key="apiUrl" value="http://api.ir.localhost"/>
  </appSettings>
</configuration>
