<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="apiKey" value="3461fc02-eb58-49dd-9177-f70c4753cfac"/>
    <add key="apiSecret" value="84f0ca1bc80b460aafb43a2092d3998f"/>
    <add key="apiUrl" value="http://api.ir.localhost/"/>
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="SystemName" value="sampleApplication" />
    <variable name="LogPath" value="c:\log\dotNetClient\sampleApplication" />
    <variable name="Layout" value="${longdate}|${level:upperCase=true}|t${threadid}|${logger}| ${message} ${exception:format=message,stacktrace}|${event-properties:item=ir-objects}" />

    <targets async="true">
      <target xsi:type="File" name="file-info" createDirs="true" fileName="${LogPath}\${SystemName}.info.log" archiveAboveSize="31457280" archiveNumbering="Sequence" maxArchiveFiles="5" archiveEvery="Day" layout="${Layout}" />

      <target xsi:type="File" name="file-debug" createDirs="true" fileName="${LogPath}\${SystemName}.debug.log" archiveAboveSize="31457280" archiveNumbering="Sequence" maxArchiveFiles="5" archiveEvery="Day" layout="${Layout}" />

      <target xsi:type="ColoredConsole" name="consoleTarget" layout="${Layout}" />

    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file-info,consoleTarget" />
      <logger name="*" minlevel="Debug" writeTo="file-debug" />
    </rules>
  </nlog>
  
</configuration>
